@import "constants";

body {
  margin: 0;
  background: $yellow-dark;
  font-family: 'Space Grotesk', sans-serif;
  color: black;
  line-height: 1.6;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: none;
}

:root {
  --card-width: min(128px, calc((100vw - #{$card-gap * 4} - 24px) / 3));
}
