$yellow-dark: #E0B700;
$yellow: #F5C800;
$green: #007A5E;

$card-gap: 8px;
$card-padding: 8px;
$card-line-height: 64px;
$card-height: $card-line-height + 2 * $card-padding;

$podium-transition-duration: 200ms;
